body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  align: center;
}

div {
  background-color: red;
  border-bottom-width: : 25%;
  text-align: center;
  display: block;
  float: left;
}

#featured-property p {
  width: 800px;
}
